<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All cocktails</h1>
      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
