
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Awesome beverages</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail), class: 'card-link' do %>
    <div class="col order-last">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      </div>
  <% end %>
<% end %>

