<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <h1><%= @cocktail.ingredients %></h1>
      <h1><%= @cocktail.doses %></h1>
      <table class="table table-bordered">
