<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Doses</h1>
      <ul class="list-group">
        <% @doses.each do |dose| %>
          <li class="list-group-item">
            <%= link_to dose.name, dose_path(dose) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new dose", new_dose_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
